@model WebApplication2.Models.UserInfo
@{
    ViewBag.Title = "SignUp";
}

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $(".reveal").on('click', function () {
            var pwd = $(".pwd");
            if (pwd.attr('type') === 'password') {
                pwd.attr('type', 'text');
            } else {
                pwd.attr('type', 'password');
            }
        });
    });

</script>
}
<h2>SignUp</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div id="loginform">

    <div class="formrow">
        @Html.LabelFor(m => m.Email):<br />
        @Html.TextBoxFor(m => m.Email, new {   @class = "form-control"})<br />
    </div>
    <div class="formrow">
        @Html.LabelFor(m => m.Password):<br />
        <div>
            <div style="display:flex">
                @Html.PasswordFor(m => m.Password, new { autocomplete = "off", @class = "form-control pwd" })
                <span class="input-group-btn">
                    <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                </span>
            </div>
        </div>
    </div><br />
    <div class="formrow">
        @Html.LabelFor(m => m.FirstName):<br />
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })<br />
    </div>
    <div class="formrow">
        @Html.LabelFor(m => m.LastName):<br />
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })<br />
    </div>
    @*<div class="formrow">
        @Html.LabelFor(m => m.PhoneNumber):<br />
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })<br />
    </div>
    <div class="formrow">
        @Html.LabelFor(m => m.Address):<br />
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })<br />
    </div>
    <div class="formrow">
        @Html.LabelFor(m => m.Promotions):<br />
        @Html.TextBoxFor(m => m.Promotions, new { @class = "form-control" })<br />
    </div>*@
    <div class="formrow">
        <input type="submit" class="k-button formbutton" value="Sign up" />
    </div>
</div>
}


